*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/
bin
gen
obj
build
.classpath
.metadata
.project
.settings
.idea
*.properties
*.jks
*.keystore
*.apk
*.aab
google-service.json
*.icloud
*.hprof